<script >
import Spinner from '../components/Spinner.vue';
import Categorie from '../components/Categorie.vue';
export default {
    data() {
        return {
            categories: [],
            chargement: true,
            erreur: false,
        };
    },
    mounted() {
        axios.get("/categories")
            .then((response) => {
            this.categories = response.data;
            this.chargement = false;
        })
            .catch((error) => {
            console.log(error);
            this.erreur = true;
            this.chargement = false;
        });
    },
    components: { Spinner, Categorie }
}

</script>

<template>
  <main className="container">

    <section className="my-3">
      <h1>Bienvenue sur Bonbons Shop !</h1>
    </section>

    <section className="my-3">
      <h2>Nos Categories</h2>
      <Spinner v-if="this.chargement"></Spinner>
      <div v-else class="row mx-auto mt-2">
        <Categorie :dataCategorie="categorie" v-bind:key="categorie.id" v-for="categorie in this.categories"></Categorie>
      </div>
    </section>

  </main>
</template>
