<template>
    <main className="container">

        <h2>Login</h2>
        <form className="col-lg-4 col-md-6 col-8 mx-auto" @submit="onSubmit">
            <div class="form-group">
                <label>Email *</label>
                <input v-model="username" name="username" type="text" class="form-control" />

            </div>
            <div class="form-group">
                <label>Mdp *</label>
                <input v-model="password" name="password" type="password" class="form-control" />

            </div>
            <div class="form-group">
                <button class="btn btn-primary mt-2">

                    Login
                </button>
            </div>

        </form>
        <button @click="logout">Logout</button>
    </main>
</template>

<script >
import axios from 'axios';
import { useAuthStore } from '../stores/auth.store';
export default{
    data(){
        return{
        username:"",
        password:"",
        }
    },
methods: {
    onSubmit(event) {
       

    //  let test= axios.post("http://localhost:8080/authenticate",{"username":this.username,"password":this.password}).then((response)=>{
    
    //     console.log(response.data.token);
       
    //   }).catch((error)=>{console.log(error)})
  
       event.preventDefault();
       return useAuthStore().login(this.username, this.password)
 
    },
    logout(){
        useAuthStore().logout();
    }
}
}
</script>

<style>
</style>