<script>
import Produit from './Produit.vue';
export default{
    props: ["dataCategorie"],
    components: { Produit }
}
</script>

<template>
 <div className="my-2">
    <h3 className="mb-2 row">{{this.dataCategorie.nom}}</h3>

    <div class="row row-cols-3">
        <Produit :dataProduit="produit" v-for="produit in this.dataCategorie.produits" v-bind:key="produit.id" ></Produit>
    </div>
 </div>

 
</template>