<template>
  <div className="card col mx-2" >
  <img src="..." className="card-img-top" alt="...">
  <div className="card-body">
    <h5 className="card-title">{{dataProduit.nom}}</h5>
    <p className="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p className="card-text">Disponible en portion de  <br/>
    <ul>
    <li v-bind:key="inv.id" v-for="inv in this.dataProduit.inventaires"> {{inv.portion}} </li>
    </ul>
    </p>
    <a href="#" className="btn btn-primary">Go somewhere</a>
  </div>
</div>
</template>

<script>
export default {
    props:["dataProduit"],
 
}
</script>

<style>

</style>