<script setup>
import { RouterLink, RouterView } from "vue-router";

</script>

<template>
  <header>
    <div class="m-3">
      <nav>
        <ul class="nav nav-pills">

          <RouterLink to="/" custom v-slot="{ href, navigate, isExactActive }">
            <li class="nav-item mx-2">
              <a class="nav-link" :href="href" :class="{ 'active': isExactActive }" @click="navigate">Home</a>
            </li>
          </RouterLink>


          <RouterLink  to="/about" custom v-slot="{ href, navigate, isExactActive }">
            <li class="nav-item">
              <a class="nav-link" :href="href" :class="{ 'active': isExactActive }" @click="navigate">About</a>
            </li>
          </RouterLink>

          <RouterLink  to="/login" custom v-slot="{ href, navigate, isExactActive }">
            <li class="nav-item">
              <a class="nav-link" :href="href" :class="{ 'active': isExactActive }" @click="navigate">Connexion</a>
            </li>
          </RouterLink>

        </ul>
      </nav>
    </div>
  </header>


  <RouterView />
</template>

<style>
</style>
